.waves-effect{
        border-radius: 100%;
        background-color:#00CCCC;
        left: 20px;
        top: 20px;
        transform: scale(0);
        width: 10px;
        height: 10px;
        position:absolute;
    }

    .waves-effect-animation{
        animation: animation-definition 1s ease-out;  
        /*兼容各大浏览器*/
        -moz-animation: animation-definition 1s ease-out;  
        -webkit-animation: animation-definition 1s ease-out;  
        -o-animation: animation-definition 1s ease-out;  
    }

    @keyframes animation-definition {  
        from{  
            transform: scale(0.1);  
            opacity: 0.4;
        }  

        to{  
            transform: scale(1); /*因为涟漪的大小为标签的最长边，为了保证点击标签边缘时，涟漪也能覆盖整个标签，scale值最小应为2*/
            opacity: 0;            
        } 
    }    